<main>
  <div class="flex-top show-card">
    <div class="artwork-image" >
      <%= image_tag image_url(@artwork.image), class:"box-shadow" %>
    </div>
    <div class="flex-column">
      <div class="artwork-info-grid">
        <strong><p><%= @artwork.title %></p></strong>
        <strong><p><%= @artwork.artist %></p></strong>
        <strong><p><%= @artwork.date %></p></strong>
      </div>
      <p class="artwork-description"><%= @artwork.description %></p>
      <%= link_to "paint me", paint_path(@artwork), class:"button navigation-button"%>
    </div>
  </div>
</main>
