<div class="container"data-controller="memory">
  <button class="button" data-action="click->memory#start">start</button>
  <button class="button" data-action="click->memory#restart">restart</button>
  </div>
  <div class='flip-card-grid'>
    <% cards.each_with_index do |card, index| %>

      <% if card[-3..-1] == "jpg" || card[-3..-1] == "png" %>
        <div class="card disabled" data-action="click->memory#flip" data-memory-target="card" data-id="<%= Artwork.find_by(image: card).id %>" data-index="<%=index%>">
          <%= image_tag image_url(card), class: "image-memory" %>
        </div>
      <% else %>
        <div class="card disabled" data-action="click->memory#flip" data-memory-target="card" data-id="<%= Artwork.find_by(title: card).id %>" data-index="<%=index%>">
          <%= card %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
