<div class="home">
  <%# arriere plan defillant %>
  <div class="artworks-list-wrapper">
    <%= render "list", artworks: @sample %>
  </div>
  <div class="banner">
    <div>
      <h1>Bienvenue à <strong>ARTVARD</strong></h1>
      <p>Ici, on te fait découvrir les œuvres d'art les plus cool ! Prépare-toi à une expérience en ligne de ouf où tu vas en prendre plein les mirettes. Viens t'éclater avec nous et laisse parler ton imagination ! C'est parti pour l'art moderne !</p>
    </div>
    <div class="grid_home">
      <article class="card">
        <%= image_tag "homepage/vague.jpg", class:"image" %>
        <div class="centered-children">
          <%= link_to "Visiter la Galerie", artworks_path, class: "button game-button" %>
        </div>
      </article>
      <article class="card">
        <%= image_tag "homepage/game.jpg", class:"image" %>
        <div class="centered-children">
          <%= link_to "Voir la Game Room", gamerooms_path, class: "button game-button" %>
        </div>
      </article>
      <article class="card">
        <%= image_tag "homepage/painting.jpg", class:"image" %>
        <div class="centered-children">
          <%= link_to "Paint", paint_path, class: "button game-button" %>
        </div>
      </article>
    </div>
  </div>
</div>
