<main>
  <div data-controller="paint">
    <h1>NO PAINT NO GAME</h1>
    <div class="paint-double-flex">
      <div class="paint-card">
        <%= render "artworks/artwork", artwork: @artwork %>
        <select name="change-artpiece" id="change-artpiece" data-action="change->paint#changeArtpiece">
          <option value=""></option>
          <% @artworks.each do |artwork| %>
            <option value=<%= artwork.id %>><%=artwork.title%></option>
          <% end %>
        </select>
      </div>
      <canvas id="canvas" data-action="mousedown->paint#drawToggle mousemove->paint#drawing mouseup->paint#resetPreviousLocation paint#drawToggle" data-paint-target="canvas"></canvas>
      <div class="paint-palette-settings">
        <h6>Palette :</h6>
        <p>luminosité : </p>
        <input type="range" value="90" min="30" max="100" data-action="change->paint#changeBrightness">
        <p>saturation : </p>
        <input type="range" value="90" min="0" max="100" data-action="change->paint#changeSaturation">
        <div class="paint-color-palette">
          <% hues = [0, 20, 40, 60, 80, 120, 150, 180, 200, 220, 240, 260, 280, 300, 320, 340 ] %>
          <% hues.each do |hue| %>
            <% color = "hsl(#{hue},75%,60%)"%>
            <div class="paint-nav-color" data-paint-target= "color" data-action="click->paint#changeColor" style="--tooltip-color: <%=color%>" data-color=<%=color%>></div>
          <% end %>
            <div class="paint-nav-color" data-paint-target= "color" data-action="click->paint#changeColor" style="--tooltip-color: white" data-color='white'></div>
            <div class="paint-nav-color" data-paint-target= "color" data-action="click->paint#changeColor" style="--tooltip-color: black" data-color='black'></div>
        </div>
        <div class="flex-column">
          <h6>Pinceau :</h6>
          <p>taille : </p>
          <input type="range" value="4" min="0" max="100" data-action="change->paint#changeBrushSize">
        </div>
        <button style="margin-top: 10px;" class="clear button game-button" data-action="click->paint#clearCanvas">effacer</button>
        <button style="margin-top: 10px;" class="save button game-button" data-action="click->paint#savePng">sauvegarder</button>
      </div>
    </div>
  </div>
</main>
